/* Estilos globales */
body {
  font-size: 100%;
  text-align: justify;
}

/* Encabezados */
h1 {
  font-size: 2.0em;
  color: #003F70;
  /*  color: #0060AB;*/
  /*  font-weight: 200;*/
  /*  font-size: 40px;*/
}

h1 {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}



h2 {
  font-size: 1.8em;
  color: #0060AB;  
}

h3 {
  font-size: 1.5em;
  color: #0060AB;

}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

/* Estilos del índice */
nav.toc {
  font-size: 85%;
  text-align: justify; 
}

nav.chapter-toc {
  text-align: justify; 
}

/* Portada */
#portada h1 {
  text-align: center;
}

/* Contenedor de análisis en dos columnas */
.analysis-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.analysis-container .grafico {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.analysis-container .texto {
  flex: 1.5;
  padding: 10px;
  text-align: justify;
  font-size: 12pt;
  line-height: 1.5;
}
